// Variable overrides
// Your variable overrides

$theme-colors: (
  "success": #228541,
  "danger": #DB2127
);

// sidebar-default-theme
// $sidebar-dark-color:    #000000 !default;
$sidebar-dark-bg: rgba(0, 0, 0, 0.8) !default;
// $sidebar-dark-borders:  none !default;

// sidebar-brand-default-theme
$sidebar-dark-brand-color: #ffffff !default;
// $sidebar-dark-brand-bg:             #228541;

// sidebar-nav-default-theme
// $sidebar-dark-nav-title-color:      rgba(0,0,0, .6) !default;
// $sidebar-dark-nav-link-color:       rgba(0,0,0, .8) !default;
// $sidebar-dark-nav-link-bg:              rgba(34,133,65, 0.3) !default;
// $sidebar-dark-nav-link-icon-color:  rgba(0,0,0, .5) !default;
// $sidebar-dark-nav-link-borders:     0 !default;

// $sidebar-dark-nav-link-hover-color:       $white !default;
$sidebar-dark-nav-link-hover-bg: #228541 !default;
// $sidebar-dark-nav-link-hover-icon-color:  $white !default;
// $sidebar-dark-nav-link-hover-borders:     0 !default;

// $sidebar-dark-nav-link-active-color:       #000000 !default;
$sidebar-dark-nav-link-active-bg: rgba(34, 133, 65, 0.6) !default;
// $sidebar-dark-nav-link-active-icon-color:  #000000 !default;
// $sidebar-dark-nav-link-active-borders:     0 !default;

// $sidebar-dark-nav-link-disabled-color:       darken($white, 30%) !default;
// $sidebar-dark-nav-link-disabled-bg:          $sidebar-dark-bg !default;
// $sidebar-dark-nav-link-disabled-icon-color:  $sidebar-dark-nav-link-icon-color !default;
// $sidebar-dark-nav-link-disabled-borders:     0 !default;

// $pagination-active-color:           #228541 !default;
$pagination-active-bg:              #228541 !default;
$pagination-color:                  #228541 !default;

// CoreUI and its default variables
@import "../../node_modules/@coreui/coreui/scss/coreui";
